footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0%;
  color: black;
  background-color: #e2dbd0;
  border: solid 1px #000;
}

footer p {
  width: 100%;
  color: black;
  margin-left: 6%;
  margin-bottom: 3%;
  margin-top: 2%;
}

footer div {
  background-color: #5b4f4f78;
  height: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: solid 1px #000;
}
