.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 50px;
  max-width: 1100px;
  margin: 0 auto;
  justify-items: center;
  padding: 50px 20px;
  margin-bottom: 80px;
}

.card {
  border-radius: 10px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: rgb(207, 174, 174);
  max-width: 280px;

  &__img {
    max-width: 280px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 5px 12px;
    margin-top: 5px;
    align-items: center;

    &--name {
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.5px;
    }

    &--like {
      display: flex;
      align-items: center;
      cursor: pointer;

      i {
        margin-right: 5px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px;
  }
}

.btn {
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;

  &:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
  }

  &:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
}
