.pop-up {
  position: fixed;
  top: 10%;
  left: 13%;
  bottom: 10%;
  width: 72%;
  height: 68%;
  background-color: rgb(207, 174, 174);
  z-index: 9999;
  justify-content: space-between;
  padding: 30px 50px;
  display: none;
  border-radius: 10px;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
  font-family: 'Lucida Sans', sans-serif;
}

.form {
  width: 250px;
  text-align: center;

  &-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}

input {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
  margin-bottom: 20px;
  margin-left: 0;
  display: flex;
  border: 1px solid black;
}

textarea {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  padding: 10px 10px;
  margin-bottom: 20px;
  margin-left: 0;
  display: flex;
  border: 1px solid black;
  font-size: 16px;
}

button {
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  border: none;

  &:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
  }
}

.category {
  text-align: center;
  margin: 10px 0;
  padding: 10px 5px;
  border: 1px solid rgba(220, 220, 220, 0.486);
  border-radius: 10px;

  span {
    padding-right: 20px;
  }
}

.country {
  text-align: center;
  padding: 10px 5px;
  border: 1px solid rgba(220, 220, 220, 0.486);
  border-radius: 10px;

  span {
    padding-right: 20px;
  }
}

.title {
  text-align: center;
  padding: 10px;
}

.commentContainer {
  overflow-y: scroll;
  height: 95%;
  width: 300px;
  margin-top: 10px;
}

.comment-item {
  padding: 10px 5px;
  border: 1px solid rgba(220, 220, 220, 0.486);
  border-radius: 10px;
  width: 95%;
  margin-top: 5px;

  .user {
    display: inline-block;
    min-width: 70px;
    text-align: left;
  }
}
